@model List<Test.Models.BD.Customer>

@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer</h2>

<table>
    @foreach (var donut in Model)
    {
        <tr>
            <td>@donut.CustomerId</td>
            <td>@donut.Name</td>
        </tr>
    }
</table>
